<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>配置添加 | HOHO系统管理中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HOHO-SYSTEM</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li >
                    <a th:href="@{/}">首页</a>
                </li>
                <li >
                    <a th:href="@{/manage/system}">系统管理</a>
                </li>
                <li >
                    <a th:href="@{/manage/project}">项目管理</a>
                </li>
                <li class="active">
                    <a th:href="@{/manage/config}">配置管理</a>
                </li>
                <li>
                    <a href="#contact">联系方式</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div style="padding: 20px;">
    <div style="margin-top: 60px;border-bottom: 2px solid red;padding-bottom: 50px;">
        <a class="btn btn-sm btn-primary" th:href="@{/manage/system/{id}/config(id=${sysId})}" style="float: left">返回系统配置</a>
        <button class="btn btn-sm btn-success btnAdd" data-toggle="modal" data-target="#addModal" style="float: left;margin-left: 20px">
            <span class="glyphicon glyphicon-plus"></span> 添加配置
        </button>
        <form class="form-inline" style="float: right;" th:action="@{/manage/system/{id}/public(id=${sysId})}" method="get">
            <div class="form-group searchInput" style="display: none">
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="index" name="p" value="1"/>
                </div>
            </div>
            <div class="form-group searchInput">
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Key" name="key" id="key"/>
                </div>
            </div>
            <div class="form-group searchInput">
                <div class="col-sm-6">
                    <input class="form-control" type="text" placeholder="Value" name="value" id="value"/>
                </div>
            </div>
            <div class="form-group searchInput">
                <div class="col-sm-6">
                    <select class="form-control" id="env" name="env">
                        <option value="">环境</option>
                        <option value="DEV">开发环境</option>
                        <option value="STABLE">测试环境</option>
                        <option value="PROD">生产环境</option>
                    </select>
                </div>
            </div>
            <div class="form-group searchInput">
                <div class="col-sm-6">
                    <select class="form-control" id="status" name="status">
                        <option value="">状态</option>
                        <option value="ON">启用</option>
                        <option value="OFF">禁用</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-default" id="btnSearch" value="查找"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#ID</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>环境</th>
                    <th>状态</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${pager.data}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.itemKey}"></td>
                    <td th:text="${item.itemValue}"></td>
                    <td th:text="${item.environment.name}"></td>
                    <td th:text="${item.status.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td>
                        <button class="btn btn-success btn-sm btnAdd" th:href="@{/manage/api/system/{id}/config/{cid}/add(id=${sysId}, cid=${item.id})}">添加</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <nav style="text-align: center">
            <ul class="pagination pagination-lg">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li th:each="page : ${pager.pageList}">
                    <a th:href="@{/manage/system/{id}/public(id=${sysId}, p=${page}, key=${key}, value=${value}, type=${type}, env=${env}, status=${status})}" th:text="${page}"></a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </nav>

    </div>
</div>


</body>

<script type="text/javascript">
    var url = null;

    $(document).ready(function () {

        $(".btnAdd").click(function() {
            url = $(this).attr("href");
            $.get(url, function(data, status) {
                if("添加成功" != data) {
                    alert(data);
                }
                window.location.reload();
            });
        });
    });
</script>

</html>